.background{
    --background: url('../../assets/fundo-home.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.toolbar{
    background-color: #00EBCF;
    padding: 3vh;
}

h4{
    text-align: center;
}
