<ion-header>
</ion-header>

<ion-content>
  <h1>{{original_post.author}}</h1>
  <ion-card>{{original_post.title}}</ion-card>
  <p>{{original_post.text}}</p>

  <!-- integrar tags -->
  <!-- <h5 *ngFor="tag in tags">{{tag}}</h5> -->

  <!-- implementar requerimento para login -->
  
  <form [formGroup]="commentForm" (ngSubmit)="submitComment(commentForm)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Digite aqui</ion-label>
        <ion-input type="text" formControlName="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button>
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </form>

  <h3>Comentários</h3>
  <div *ngFor="let comment of comments">
    <!-- <img src=""> -->
    <h4>{{comment.text}}</h4>
  </div>
</ion-content>
