<ion-header>
    <ion-toolbar>

      <ion-grid>

        <ion-row>
          <ion-button (click)="goToHome()" class="exit-button">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-title>colocar logo</ion-title>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{original_post.author}}</h1>
  <ion-card>{{original_post.title}}</ion-card>
  <p>{{original_post.text}}</p>
  <div class="op_buttons">
    <ion-button (click)="deleteComment()">
      <!-- [disabled]="registerForm.invalid" -->
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="editComment()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>

  </div>

  <!-- integrar tags -->
  <!-- <h5 *ngFor="tag in tags">{{tag}}</h5> -->

  <!-- implementar requerimento para login -->
  <ion-grid class="container">

    <ion-row>
      <ion-col>
        <form [formGroup]="commentForm" (ngSubmit)="submitComment(commentForm)">
          <ion-list >

            <ion-item>
              <ion-label position="floating">Digite aqui</ion-label>
              <ion-input type="text" formControlName="text"></ion-input>
            </ion-item>

          </ion-list>

        </form>

      </ion-col>

      <ion-col class="send_button" size="3">

        <ion-row class="button_container">

          <ion-button class="send_button">
            <ion-icon name="send"></ion-icon>
          </ion-button>

        </ion-row>

      </ion-col>

    </ion-row>
  </ion-grid>


  <h3 class="comment_header">Comentários</h3>
  <div *ngFor="let comment of comments" class="comment_container">
    <!-- inserir imagem de perfil dos usuarios -->
    <h3 class="comment_content">{{comment.text}}</h3>

    <div class="comment_buttons">

      <ion-button (click)="deleteComment()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="editComment()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>

    </div>

  </div>

</ion-content>
