h1{
  font-size: 4rem;
  color: #700282;
  margin: 3vw;
}

ion-card{
  font-size: 2rem;
  color: white;
  background-color: #1158C1;
  padding: 5px;
}

p{
  font-size: 2rem;
  margin: 3vw;
  text-align: justify;
}

.send_button{
  height: 80%;
}

ion-button{
  margin-top: 20%;
}

h3{
  margin: 3vw;
}

h4{
  font-size: 1rem;
  margin-left: 3vw;
}