<ion-header>
    <ion-toolbar>

      <ion-grid>

        <ion-row class="toolbar_container">
          <ion-button (click)="goToHome()" class="exit-button">
            <ion-icon name="home"></ion-icon>
          </ion-button>
          <!-- <ion-title>colocar logo</ion-title> -->
          <ion-button (click)="goBackToSearch()" class="exit-button">
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div  class="content">
        <div class="user-e-seguir">
            <h1>{{postAuthor}}</h1>
            <ion-button size="small" (click)="followUser(post.user.id)" class="seguir-button">
            <ion-icon name="heart-outline"></ion-icon>
            &nbsp;
            Seguir
          </ion-button>
        </div>
        <ion-card class="card-course">{{post.course}} com {{post.teacher}}</ion-card>
        <h2 class="post-content">{{post.content}}</h2>
        <h3 class="tag">#{{post.tag}}</h3>
    </div>

  <div class="op_buttons">
    <ion-button *ngIf="isAdmin || postUserId == userId" (click)="deletePost()">
      <!-- [disabled]="registerForm.invalid" -->
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isAdmin || postUserId == userId" (click)="editPost()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- integrar tags -->
  <!-- <h5 *ngFor="tag in tags">{{tag}}</h5> -->

  <!-- implementar requerimento para login -->
  <ion-grid class="container">

    <div class="content">
          <h3 class="comment_header">Comentários</h3>
    </div>
    <ion-row>
      <ion-col>
        <form [formGroup]="commentForm" (ngSubmit)="submitComment(commentForm)">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Faça um comentário</ion-label>
              <ion-input type="text" formControlName="text"></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
      <ion-col class="send_button" size="3">
        <ion-row class="button_container">
          <ion-button class="send_button">
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let comment of comments" class="comment_container">
    <!-- inserir imagem de perfil ou nome dos usuarios -->
    <!-- <h4 class="user-comment">{{comment.user}}</h4> -->
    <ion-card-content class="comment_content">{{comment.comment}}</ion-card-content>
    <!-- <div class="comment_buttons">
      <ion-button (click)="deleteComment()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="editComment()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </div> -->
  </ion-card>

</ion-content>
