.exit-button{
  --background: #1158C1;
  text-align: center;
  --border-radius: 15px;
}

.op_buttons{
  display: flex;
  justify-items: center;

}

.content{
    margin: 2.5vw;
}

h1{
  font-size: 2.3rem;
  color: #700282;
  margin: 3vh;
}

.card-course{
  font-size: 1.9rem;
  color: white;
  background-color: #1158C1;
  padding: 2vh;
}

.post-content{
  font-size: 1.7em;
  margin: 3vw;
  text-align: justify;
}

h3{
  margin: 3vw;
}

h4{
  font-size: 1rem;
  margin-left: 3vw;
}

.tag{
    color: #00EBCF;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

ion-button{
  color: #00EBCF;
  --background: #700282;
}

.comment_header{
  font-size: 2rem;
}

.comment_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment_content{
  text-align: justify;
  color: black;
  font-size: 1.4em;
}

.comment_buttons{
    margin-bottom: 2vh;
}

ion-list{
  border-radius: 20px;
}

.toolbar_container{
  display: flex;
  justify-content: space-between;
}

.user-comment{
    color: #700282;
}
