<ion-header>
  <ion-toolbar>
    <ion-title>colocar logo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="text-dados">
        <h6>Nome</h6>
        <h3 class="dados">{{user.name}}</h3>
        <h6>Curso</h6>
        <h3 class="dados">{{user.degree}}</h3>
        <h6>Email</h6>
        <h3 class="dados">{{user.email}}</h3>
        <!-- <h6>Senha</h6>
        <h3>{{user.password}}</h3> -->
    </div>
    <ion-button (click)="userLogout()" expand="full" color="tertiary" class="logout" >
      <ion-icon name="close-circle" class="icon-text-logout"></ion-icon>Logout
    </ion-button>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button  color="secondary">
      <ion-icon name="ellipsis-vertical-outline" color="tertiary"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="secondary"><ion-icon name="close-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="secondary"><ion-icon name="create-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
