<ion-tabs>


  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seguidos">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Seguidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-post">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Criar Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
