.retorno{
  --background: #1158C1;
  text-align: center;
  --border-radius: 15px;
}

.user_info{
  font-size: 1rem;
}

.email{
  opacity: 0.75;
}

.list_container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}