<ion-header>

  <ion-toolbar>

    <ion-grid>
    
      <ion-row>

        <ion-title>Seguidos</ion-title>
    
        <ion-button class="retorno">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>

      </ion-row>
    
    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <!-- <img src=""> -->
      <!-- depois implementar html para foto de cada usuario -->
      <div class="container">

        <div class="flex_item">
          <ion-title class="user_info">{{ user.name }}</ion-title>
          <ion-title class="user_info email">{{ user.email }}</ion-title>
        </div>
        <div class="flex_item following">
          <ion-button>Seguindo</ion-button>
        </div>

      </div>
        <!-- talvez fazer o nome e email clicaveis, levam para perfil do usuario -->
        <!-- <ion-subtitle></ion-subtitle> -->
        <!-- botao precisa mudar status de usuario seguido -->
        
    </ion-item>
  </ion-list>

</ion-content>
