ion-card{
    padding: 5vw;
    margin: 2vw;
}

.icon-button{
    margin-right: 3vw;
}

.user_info_topo_container{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 2vw;
}
ion-card-title{
    font-size: 1.5em;
}
