<ion-header>
  <ion-toolbar>
      <ion-button routerLink="/tabs/tab3">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h4>Insira seus novos dados nos campos a seguir</h4>
    <form [formGroup]="editDetailsForm" (ngSubmit)="editDetails(editDetailsForm)">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Curso</ion-label>
          <ion-input type="text" formControlName="degree"></ion-input>
        </ion-item>
      </ion-list>
      <div class="container">
        <ion-button type="submit">Salvar Edições</ion-button>
      </div>


    </form>
</ion-content>
