.background{
    --background: url('../../assets/inferior.svg');
    --background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 3em;
    right: 0;
    text-align: center;
    top: 0;
    --background-position: bottom;
    --background-size: cover;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh;
}

ion-button {
  --background: #1158C1;
  text-align: center;
  --border-radius: 15px;
}

.home_page_link{
  margin-top: 5vh;
}
