.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-button {
  --background: #1158C1;
  text-align: center;
  --border-radius: 15px;
}

h6{
  margin-top: 10vw;
  opacity: 0.75;
}

.retorno{
  --background: black;
}

form{
  width: 95vw
}