<ion-header>

  <ion-toolbar>

    <ion-grid>

      <ion-row>
        <ion-title>Login</ion-title>
        <ion-button class="retorno" (click)="goToLanding()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="container">
      <ion-button type="submit">Efetuar Login</ion-button>
    </div>
  </form>

  <div class="container">
    <h6>Ainda não tem uma conta?</h6>
    <a href= "../cadastro">Realizar cadastro</a>
  </div>

</ion-content>
