<ion-card (click)="abre_post()">

  <ion-card-header>

    <ion-card>
      <ion-card-content>{{titulo}}</ion-card-content>
    </ion-card>

    <ion-card-subtitle>{{autor}}</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>{{texto}}</ion-card-content>

  <!-- <ion-card-subtitle>#{{tag}}</ion-card-subtitle> -->
  <br>
  <!-- colocar icone de coracao antes do seguidor -->
  <!-- checar se tem como mostrar lista de seguidores -->
  <!-- <ion-card-subtitle>{{seguidor}} segue esse post</ion-card-subtitle> -->

</ion-card>