<ion-card (click)="view_thread()">

  <ion-card-header>

    <!-- <div class="title_container">{{title}}</div> -->
    <ion-card class="title_container">
      <ion-card-content>{{title}}</ion-card-content>
    </ion-card>

    <ion-card-subtitle class="author_post">{{author}}</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    <p>{{text}}</p>
    <ion-button (click)="like_post()">
      {{likes}}
      &nbsp;
      <ion-icon name="thumbs-up-sharp"></ion-icon>
    </ion-button>
    <ion-button (click)="dislike_post()">
      {{dislikes}}
      &nbsp;
      <ion-icon name="thumbs-down-sharp"></ion-icon>
    </ion-button>
    <ion-button (click)="follow_user()">Seguir usuário</ion-button>
  </ion-card-content>
  <!-- <ion-card-subtitle>#{{tag}}</ion-card-subtitle> -->
  <!-- colocar icone de coracao antes do seguidor -->
  <!-- checar se tem como mostrar lista de seguidores -->
  <!-- <ion-card-subtitle>{{follower}} segue esse post</ion-card-subtitle> -->

</ion-card>