.title_container{
  background-color: #1158C1;
  color: #FFFFFF;
  font-weight: bold;
}

.user_post{
  color:#700282;
}

.ion-card{
  border-radius: 20px;
}

.button_container{
  display: flex;
  justify-content: space-between;
  justify-items:center;
}
