.background{
    --background: url('../../assets/grafismo-inferior.png');
    background-repeat: no-repeat;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh;
}

ion-button {
  --background: #1158C1;
  text-align: center;
  --border-radius: 15px;
}
