.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh;
}

ion-button {
  --background: #1158C1;
  text-align: center;
  --border-radius: 15px;
}

.return_button{
  --background: #700282;
  text-align: center;
  --border-radius: 15px;
}

form{
  width: 90%;
}