<ion-header>
  <ion-toolbar>
    <ion-grid>

      <ion-row>

        <ion-button (click)="goToLanding()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
        <ion-title>Cadastro</ion-title>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Curso</ion-label>
        <ion-input type="text" formControlName="degree"></ion-input>
      </ion-item>
    </ion-list>
    <div class="container">
      <ion-button type="submit" [disabled]="registerForm.invalid">Cadastrar</ion-button>
    </div>


  </form>


  <div class="container">
    <a href="../login">Já tenho uma conta</a>
  </div>

</ion-content>
