<ion-header>
  <ion-toolbar>
    <ion-grid>

      <ion-row>
        <ion-title>Cadastro</ion-title>

        <ion-button (click)="goToLanding()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <img [src]="photo">
  <ion-button class="camera_button" (click)="takePicture()">
    <ion-icon name="camera"></ion-icon>
  </ion-button>

  <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Curso</ion-label>
        <ion-input type="text" formControlName="degree"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>

    </ion-list>
    <div class="container">
      <ion-button class="sign_up_button" type="submit" (click)= "presentToast()" [disabled]="registerForm.invalid">
        Cadastrar
      </ion-button>
    </div>


  </form>


  <div class="container">
    <a href="../tabs/login">Já tenho uma conta</a>
  </div>

</ion-content>
