.image{
    --background: url('../../assets/undraw_searching_p5ux-(1).png');
    --background-repeat: no-repeat;
    --background-position: center;
    --background-size: cover;
    background-color: #ffffff;
}

ion-button{
    color: #00EBCF;
    --background: #700282;
}

.follow-button{
    margin: 5vw;
}
