<ion-toolbar>
    <ion-title>
      Busca
    </ion-title>
  </ion-toolbar>

<ion-content [fullscreen]="true">
    <ion-header translucent>
      <ion-toolbar>
          <form [formGroup]="searchForm" (ngSubmit)="submitForm(searchForm)">
          <ion-grid>
              <ion-row>
                  <ion-col size="9">
                      <ion-item>
                          <ion-icon name="search" color="primary"></ion-icon>
                          <ion-textarea formControlName="filter" placeholder="  Enter a description"></ion-textarea>
                      </ion-item>
                  </ion-col>
                  <ion-col>
                      <ion-button type="submit" [disabled]="searchForm.invalid"><ion-icon name="send"></ion-icon></ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
          </form>
              <!-- <ion-searchbar placeholder="Busca" type="text" formControlName="search"> -->
        <!-- (ionChange)="buscar($event)" -->
              <!-- clearInput> -->
              <!-- </ion-searchbar> -->
      </ion-toolbar>
    </ion-header>

    <app-post *ngFor="let post of posts" [title]="post.course" [user]="post.user.name" [text]="post.content" [likes]="post.liked_count" [id]="post.id"></app-post>

</ion-content>
