<ion-header>
</ion-header>

<ion-content>

  <ion-grid class="container">
    <ion-col>

      <ion-row>
        <app-logo></app-logo>
      </ion-row>

      <ion-row>
        <h1>Discreve UFRJ, o app ideal para saber o que esperar de uma disciplina!</h1>
      </ion-row>

      <ion-row>
        <ion-button type="submit">Cadastrar</ion-button>
      </ion-row>

      <ion-row>
        <ion-button type="submit">Login</ion-button>
      </ion-row>

      <ion-row>
        <a href="">Pular</a>
      </ion-row> 

    </ion-col>
  </ion-grid>

</ion-content>
