.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

ion-button {
  --background: #1158C1;
}

h1{
  text-emphasis: bold;
  text-align: justify;
  margin: 10vw;
}

a{
  margin: 2vw;
}
