.background{
    --background: url('../../assets/grafismo-superior-inferior.png');
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

ion-button {
  --background: #1158C1;
  border-radius: 15;
}

h1{
  text-emphasis: bold;
  text-align: center;
  margin: 8vw;
}

ion-button{
    margin: 1vh;
}

a{
  margin: 4vh;
}
