  <!-- depois implementar html para foto de cada usuario -->
  <!-- <ion-card class="user_info_container"> -->
      <ion-grid class="user_info_topo_container">
          <ion-row>
              <ion-col>
                  <ion-avatar>
                      <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
                      <img src={{photo}}>
                  </ion-avatar>
              </ion-col>
              <ion-col>
                  <ion-card-title color="secondary">{{ name }}</ion-card-title>
              </ion-col>
          </ion-row>
      </ion-grid>
      <ion-card-subtitle>{{ degree }}</ion-card-subtitle>
      
      
  <!-- </ion-card> -->

  <!-- talvez fazer o nome e email clicaveis, levam para perfil do usuario -->
